.container {
  position: relative;
  display: grid;
  grid-template-columns: var(--width-sm1) var(--width-sm2) 1fr;
  width: 100%;
  height: 100vh;
  min-height: var(--min-height);
  --time-transition: 1s;
  --time-transition-socialmedia: 0.4s;
  --time-transition-menulist-bm: 0.3s;
  --time-transition-realisation: 0.5s;
  --position-x-boulecolor: 30px;
  --position-y-boulecolor: 30px;
  --position-y-msg-information: 0px;
  --position-x-msg-information: 50%;
}
.container-var1 {
  --x: 8%;
  --y: 50%;
  --z: 25%;
  --v: 13%;
  --w: 35%;
  --u: 42%;
  --t: 37%;
  --color-out-cercle-border: #ebebeb;
  --color-out-cercle-bg: #212529;
  --theme-bg-color: #212529;
  --theme-color: #fa4682;
  --theme-color-hsl1: 340;
  --theme-color-hsl2: 95%;
  --theme-color-hsl3: 63%;
  --theme-color-gradient1: #f880bc;
  --theme-color-gradient2: #f0b0e4;
  --theme-color-gradient3: #eedafa;
  --theme-bg2-color: #fff;
  --theme-border-color: #eee;
  --theme-border-color2: #fa46823a;
  --theme-menu-color: #929292;
  --theme-menu-hover-color: #fff;
  --width-sm1: 80px;
  --width-sm2: 40px;
  --min-height: 400px;
  --height: 100vh;
  --font-size-sm2: 0.8rem;
  --font-size-bm: 2.5rem;
  --font-size-bm-c: 1rem;
  --font-size-bm-cr: 0.8rem;
  --font-size-bm-socialbutton: 1.2rem;
  --font-size-realisation: 1rem;
  --font-family: "Work Sans", sans-serif;
  --font-family-bm: "Work Sans", sans-serif;
  --font-family-realisation: "Work Sans", sans-serif;
  --font-family-logo: "Montserrat", sans-serif;
  --margin-sm2-top-bottom: 40px;
  --margin-left-bm: 5px;
  --width-bm-header-footer: 80%;
  --height-bm-header-footer: 90%;
}
.container-var2 {
  --x: 8%;
  --y: 50%;
  --z: 25%;
  --v: 13%;
  --w: 35%;
  --u: 42%;
  --t: 37%;
  --color-out-cercle-border: rgb(235, 235, 235);
  --color-out-cercle-bg: #212529;
  --theme-color: #db3d3d;
  --theme-color-hsl1: 0;
  --theme-color-hsl2: 69%;
  --theme-color-hsl3: 55%;
  --theme-color-gradient1: #ef6e8e;
  --theme-color-gradient2: #eea2cc;
  --theme-color-gradient3: #ecd4f1;
  --theme-bg-color: #212529;
  --theme-bg2-color: #fff;
  --theme-border-color: #eee;
  --theme-border-color2: #f25c5462;
  --theme-menu-color: #929292;
  --theme-menu-hover-color: #fff;
  --width-sm1: 80px;
  --width-sm2: 40px;
  --min-height: 400px;
  --height: 100vh;
  --font-size-sm2: 0.8rem;
  --font-size-bm: 2.5rem;
  --font-size-bm-c: 1rem;
  --font-size-bm-cr: 0.8rem;
  --font-size-bm-socialbutton: 1.2rem;
  --font-size-realisation: 1rem;
  --font-family: "Work Sans", sans-serif;
  --font-family-bm: "Work Sans", sans-serif;
  --font-family-realisation: "Work Sans", sans-serif;
  --font-family-logo: "Montserrat", sans-serif;
  --margin-sm2-top-bottom: 40px;
  --margin-left-bm: 5px;
  --width-bm-header-footer: 80%;
  --height-bm-header-footer: 90%;
}
.container-var3 {
  --x: 8%;
  --y: 50%;
  --z: 25%;
  --v: 13%;
  --w: 35%;
  --u: 42%;
  --t: 37%;
  --color-out-cercle-border: rgb(235, 235, 235);
  --color-out-cercle-bg: #212529;
  --theme-color: #fca311;
  --theme-color-hsl1: 37;
  --theme-color-hsl2: 98%;
  --theme-color-hsl3: 53%;
  --theme-color-gradient1: #ffa285;
  --theme-color-gradient2: #ffbdd5;
  --theme-color-gradient3: #ffe2ff;
  --theme-bg-color: #212529;
  --theme-bg2-color: #fff;
  --theme-border-color: #eee;
  --theme-border-color2: #fca21183;
  --theme-menu-color: #929292;
  --theme-menu-hover-color: #fff;
  --width-sm1: 80px;
  --width-sm2: 40px;
  --min-height: 400px;
  --height: 100vh;
  --font-size-sm2: 0.8rem;
  --font-size-bm: 2.5rem;
  --font-size-bm-c: 1rem;
  --font-size-bm-cr: 0.8rem;
  --font-size-bm-socialbutton: 1.2rem;
  --font-size-realisation: 1rem;
  --font-family: "Work Sans", sans-serif;
  --font-family-bm: "Work Sans", sans-serif;
  --font-family-realisation: "Work Sans", sans-serif;
  --font-family-logo: "Montserrat", sans-serif;
  --margin-sm2-top-bottom: 40px;
  --margin-left-bm: 5px;
  --width-bm-header-footer: 80%;
  --height-bm-header-footer: 90%;
}
.container-var4 {
  --x: 8%;
  --y: 50%;
  --z: 25%;
  --v: 13%;
  --w: 35%;
  --u: 42%;
  --t: 37%;
  // --color-out-cercle-border: #7c7c7c6b;
  --color-out-cercle-border: rgb(235, 235, 235);
  --color-out-cercle-bg: #212529;
  // --theme-color: #52c8fa;
  --theme-color: #6aac4a;
  --theme-color-hsl1: 100;
  --theme-color-hsl2: 40%;
  --theme-color-hsl3: 48%;
  --theme-color-gradient1: #43c87a;
  --theme-color-gradient2: #7beab6;
  --theme-color-gradient3: #cfffe7;
  --theme-bg-color: #212529;
  --theme-bg2-color: #fff;
  --theme-border-color: #eee;
  --theme-border-color2: #6bac4a56;
  --theme-menu-color: #929292;
  --theme-menu-hover-color: #fff;
  --width-sm1: 80px;
  --width-sm2: 40px;
  --min-height: 400px;
  --height: 100vh;
  --font-size-sm2: 0.8rem;
  --font-size-bm: 2.5rem;
  --font-size-bm-c: 1rem;
  --font-size-bm-cr: 0.8rem;
  --font-size-bm-socialbutton: 1.2rem;
  --font-size-realisation: 1rem;
  --font-family: "Work Sans", sans-serif;
  --font-family-bm: "Work Sans", sans-serif;
  --font-family-realisation: "Work Sans", sans-serif;
  --font-family-logo: "Montserrat", sans-serif;
  --margin-sm2-top-bottom: 40px;
  --margin-left-bm: 5px;
  --width-bm-header-footer: 80%;
  --height-bm-header-footer: 90%;
}
.container-var5 {
  --x: 8%;
  --y: 50%;
  --z: 25%;
  --v: 13%;
  --w: 35%;
  --u: 42%;
  --t: 37%;
  // --color-out-cercle-border: #7c7c7c6b;
  --color-out-cercle-border: rgb(235, 235, 235);
  --color-out-cercle-bg: #212529;
  // --theme-color: #52c8fa;
  --theme-color: #52c8fa;
  --theme-color-hsl1: 198;
  --theme-color-hsl2: 94%;
  --theme-color-hsl3: 65%;
  --theme-color-gradient1: #99d2ff;
  --theme-color-gradient2: #c8deff;
  --theme-color-gradient3: #e9edff;
  --theme-bg-color: #212529;
  --theme-bg2-color: #fff;
  --theme-border-color: #eee;
  --theme-border-color2: #52c8fa5b;
  --theme-menu-color: #929292;
  --theme-menu-hover-color: #fff;
  --width-sm1: 80px;
  --width-sm2: 40px;
  --min-height: 400px;
  --height: 100vh;
  --font-size-sm2: 0.8rem;
  --font-size-bm: 2.5rem;
  --font-size-bm-c: 1rem;
  --font-size-bm-cr: 0.8rem;
  --font-size-bm-socialbutton: 1.2rem;
  --font-size-realisation: 1rem;
  --font-family: "Work Sans", sans-serif;
  --font-family-bm: "Work Sans", sans-serif;
  --font-family-realisation: "Work Sans", sans-serif;
  --font-family-logo: "Montserrat", sans-serif;
  --margin-sm2-top-bottom: 40px;
  --margin-left-bm: 5px;
  --width-bm-header-footer: 80%;
  --height-bm-header-footer: 90%;
}
.container-var6 {
  --x: 8%;
  --y: 50%;
  --z: 25%;
  --v: 13%;
  --w: 35%;
  --u: 42%;
  --t: 37%;
  // --color-out-cercle-border: #7c7c7c6b;
  --color-out-cercle-border: rgb(235, 235, 235);
  --color-out-cercle-bg: #212529;
  // --theme-color: #52c8fa;
  --theme-color: #2a6f97;
  --theme-color-hsl1: 202;
  --theme-color-hsl2: 56%;
  --theme-color-hsl3: 38%;
  --theme-color-gradient1: #708fb2;
  --theme-color-gradient2: #a6b1cb;
  --theme-color-gradient3: #d5d7e4;
  --theme-bg-color: #212529;
  --theme-bg2-color: #fff;
  --theme-border-color: #eee;
  --theme-border-color2: #2a6f9741;
  --theme-menu-color: #929292;
  --theme-menu-hover-color: #fff;
  --width-sm1: 80px;
  --width-sm2: 40px;
  --min-height: 400px;
  --height: 100vh;
  --font-size-sm2: 0.8rem;
  --font-size-bm: 2.5rem;
  --font-size-bm-c: 1rem;
  --font-size-bm-cr: 0.8rem;
  --font-size-bm-socialbutton: 1.2rem;
  --font-size-realisation: 1rem;
  --font-family: "Work Sans", sans-serif;
  --font-family-bm: "Work Sans", sans-serif;
  --font-family-realisation: "Work Sans", sans-serif;
  --font-family-logo: "Montserrat", sans-serif;
  --margin-sm2-top-bottom: 40px;
  --margin-left-bm: 5px;
  --width-bm-header-footer: 80%;
  --height-bm-header-footer: 90%;
}
.logo-container {
  grid-column: 1/2;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-bg-color);
  transition: all var(--time-transition) ease-in-out;
}
.sousmenu-container {
  grid-column: 2/3;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-bg2-color);
  border-right: 1px solid var(--theme-border-color);
  transition: all var(--time-transition) ease-in-out;
}
.router-oulet-container {
  grid-column: 3/4;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}
.boule-color-container {
  z-index: 500;
  position: absolute;
  top: var(--position-y-boulecolor);
  right: var(--position-x-boulecolor);
}
.msg-information-container {
  --aux1: calc(var(--width-sm1) + var(--width-sm2));
  --aux2: calc(100% - var(--aux1));
  width: var(--aux2);
  position: absolute;
  left: var(--aux1);
  top: var(--position-y-msg-information);
  transition: all var(--time-transition) ease-in-out;
  cursor: pointer;
}
.affichermsg {
  opacity: 1;
}
.cachermsg {
  transform: translateY(-100%);
  opacity: 0;
}
