<div [ngClass]="{'container' : true,
                 'container-var1' : containerClassCounter===1,
                 'container-var2' : containerClassCounter===2,
                 'container-var3' : containerClassCounter===3,
                 'container-var4' : containerClassCounter===4,
                 'container-var5' : containerClassCounter===5,
                 'container-var6' : containerClassCounter===6}">
  <div class="logo-container">
    <app-logo></app-logo>
  </div>
  <div class="sousmenu-container">
    <app-sousmenu></app-sousmenu>
  </div>
  <div class="router-oulet-container">
    <router-outlet></router-outlet>
  </div>
  <app-boule-color class="boule-color-container" [colorTimer]="timerChangingColor"></app-boule-color>
  <app-msg-information  [msg]="msgInformation"
                        [ngClass]="{'msg-information-container': true,
                                    'affichermsg': getAfficheMsg(),
                                    'cachermsg': !getAfficheMsg()}"
              (click)="onCacherMsg()"></app-msg-information>
  <!-- <app-grille-page class="grille-page"></app-grille-page> -->
</div>
