<div class="logo-container">
    <div class="img-container">
        <div class="shapes-container">
            <div class="out-cercle"></div>
            <div class="out-cercle"></div>
            <div class="out-cercle"></div>
            <div class="out-cercle"></div>
            <div class="out-cercle"></div>
            <div class="out-cercle"></div>
            <div class="in-cercle"></div>
            <div class="in-cercle"></div>
            <div class="in-cercle"></div>
            <div class="in-cercle"></div>
            <div class="in-cercle"></div>
            <div class="in-cercle"></div>
        </div>
    </div>
    <div class="text-container">
        <div class="h1p-container">
            <h1>LinksForWeb</h1>
        </div>
    </div>
</div>