<div class="container">
    <p>Message d'information</p>
    <div class="background-container">
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
    </div>
</div>