<div class="container">
    <p>{{msg}}</p>
    <div class="background-container">
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
        <div class="info-graduation"></div>
    </div>
</div>