.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
  background-color: var(--theme-color-gradient3);
  transition: all var(--time-transition) ease-in-out;
}
