.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.division-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100% / 20);
}
.division {
  width: calc(100% / 20);
  height: 100%;
}
