<div class="contact-section">
    <h2>Nous contacter</h2>
    <div class="contact-detail-container">
        <div class="contact-detail"><i class="fas fa-map-marker-alt"></i>
            <p>29 Rue Andalous La medina Tunis, Tunisie.</p>
        </div>
        <div class="contact-detail"><i class="fas fa-phone-alt"></i>
            <p>+216 25 25 12 95</p>
        </div>
        <div class="contact-detail"><i class="far fa-envelope"></i>
            <p>contact@linksforweb.com</p>
        </div>
    </div>
</div>